################################################################################
### OpenAi API
################################################################################

OPENAI_API_KEY=

################################################################################
### Input Mode (text or voice)
################################################################################

INPUT_MODE=text

################################################################################
### ELM327 OBD2 Connection
################################################################################

SERIAL_PORT=COM7
BAUD_RATE=500000
TIMEOUT=1

################################################################################
### Email Serivce Provider "Google" or "365"
################################################################################

EMAIL_PROVIDER=365

################################################################################
### Google API
################################################################################

GMAIL_ADDRESS=
GOOGLE_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI="http://localhost:8000"

################################################################################
### Microsoft Graph API
################################################################################

GRAPH_EMAIL_ADDRESS=
GRAPH_CLIENT_ID=
GRAPH_CLIENT_SECRET=
GRAPH_TENANT_ID=

################################################################################
### Twilio API
################################################################################

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_PHONE_NUMBER=
TEXT_TO_PHONE_NUMBER=

################################################################################
### TTS Options (Zira or David)
################################################################################

TTS_ENGINE=pyttsx4 # pyttsx4 or gtts
TTS_VOICE_ID=Microsoft Zira Desktop - English (United States)  # Only for pyttsx4
TTS_RATE=150 # Only for pyttsx4
